@{
    ViewData["Title"] = "Welcome";
}

<div class="container text-center">
    <h1>Welcome</h1>
</div>

<ul>
    @for (int i = 0; i < (int)ViewData["NumTimes"]!; i++)
    {
        <li>@ViewData["Message"]</li>
    }
</ul>