@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome</h1>
    <h2>to the employee list</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet nunc sed metus suscipit eleifend. Pellentesque facilisis elit nibh, ut blandit justo volutpat at. Donec viverra hendrerit sem id pretium. Maecenas et volutpat sapien. Morbi ultricies, quam eget consectetur lacinia, dui orci consectetur augue, quis tempor magna augue eu lacus. Duis a tellus sapien. Pellentesque non sagittis ex. Suspendisse sit amet nisi nulla. Aenean congue in nisl eu facilisis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

Nulla facilisi. Integer vitae imperdiet quam. Sed lobortis semper sagittis. Donec eget ex vitae tellus porttitor congue eget a nunc. Aenean non iaculis nisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse vitae nunc cursus nunc maximus lacinia. Morbi viverra ornare quam, eget tristique metus convallis ut. Nulla convallis aliquam sem, vel pharetra nisl. Quisque ultrices magna non erat interdum convallis. Nullam fringilla augue eget lectus finibus interdum. Nullam vel elit et felis lobortis luctus nec et tortor. Nullam mollis sapien vitae libero hendrerit malesuada. In fringilla mauris nec eros luctus vulputate. Vestibulum condimentum orci sed risus ultrices, id condimentum felis tempus.

Sed sapien mauris, lacinia eu feugiat posuere, tempus eget massa. Nam tellus mi, eleifend vulputate quam sit amet, rhoncus tincidunt leo. Nullam porta dolor a interdum ultrices. Fusce facilisis eleifend pharetra. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras condimentum ligula mauris, et tristique arcu eleifend eget. Ut nec euismod turpis. Vestibulum mattis semper neque, eu volutpat turpis congue sed. Phasellus maximus elementum nibh, quis pulvinar risus porta ut. Donec a sem facilisis, sagittis ante eu, imperdiet nibh. Maecenas a molestie est. Maecenas scelerisque tortor eget odio lobortis mollis. Nunc a faucibus sem. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

Etiam vitae libero elit. Proin nec lorem dictum ex porttitor mattis. Pellentesque erat diam, dictum in odio eu, mattis condimentum nisl. Cras quis justo velit. Curabitur sit amet ex vitae ipsum tristique luctus. In commodo tincidunt tortor vitae tempus. Etiam laoreet quam vitae nisi dictum, in vehicula sem dignissim. Suspendisse ornare risus et nisl malesuada interdum. Cras tristique posuere rhoncus. Nullam consequat leo ut mauris viverra, vel euismod dui laoreet. Aenean ultricies dolor tortor. Nulla vestibulum imperdiet velit vel dapibus.

Nam nec gravida lacus. Donec malesuada ornare molestie. Nunc fermentum porttitor ex eu pharetra. Aliquam ac ultrices enim. Quisque imperdiet justo nulla, vel finibus dolor vestibulum id. In vel urna libero. Proin hendrerit quis lorem ut bibendum.</p>
    
</div>
